/*
.header {
  height: 42px;
  background-color: #303940;
  color: #337c50;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
}

button {
  background-color: #15a13f;
  width: 120px;
  height: 48px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buttons > .disable {
  background-color: #bfe5ca;
  border: 1px solid #15a13f;
  color: #7db28d;
  width: 120px;
  height: 48px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .slides {
  width: 100%;
  display: flex;
  justify-content: center;
} */

/* .card {
  width: 60%;
  height: 50vh;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.header {
  height: 42px;
  background-color: #303940;
  color: #337c50;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
}

button {
  background-color: #15a13f;
  width: 120px;
  height: 48px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
  width: 60%;
  height: 50vh;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.outlined {
  background-color: #bfe5ca;
  border: 1px solid #15a13f;
  color: #7db28d;
  width: 120px;
  height: 48px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
